/* body {
	background-color: grey;
} */

* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}

body { 
	font: 13px Helvetica, Arial;
	background-color: coral;
}
	
form {
	background: rgb(240, 241, 174); 
	padding: 3px; 
	bottom: 0; 
}
	  
form input { 
	border: none; 
	padding: 10px;
	margin-right: 0.5%; 
	width: 80%;
}
	  
form button { 
	width: 20%; 
	background: rgb(124, 243, 130); 
	border: none; 
	padding: 10px;
}
	  
#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}
	  
#messages li { 
	padding: 5px 10px;
	border-radius: 1em;
}
	  
#messages li:nth-child(odd) { 
	background: rgb(255, 255, 255); 
	border-radius: 1em;
}

#sendMsg {
	display: flex;
}


.app-section {
	width: 40%;
	margin: 10em auto;
	border-radius: 1em;
}

h1 {
	font-size: 3em;
	padding: 3%;
	color: #ffffff;
	text-align: center;
	background-color: #5c50ff;
}

